<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add
			name ="Conectar_DESKTOP-MANLQG0"
			connectionString ="Server=DESKTOP-MANLQG0; DataBase=AuditCalculator; User ID=sa; Password=MoesDeveloper0312809833;"
			providerName="System.Data.SqlClient"
			/>
	</connectionStrings>
</configuration>
